<div class="task-toolbar">
  <mat-button-toggle-group
    class="task-toolbar__status"
    [value]="activeStatus()"
    (change)="onStatusChange($event)"
    [attr.aria-label]="'toolbar.statusFilterLabel' | translate"
  >
    <mat-button-toggle value="all">{{ 'toolbar.statusAll' | translate }}</mat-button-toggle>
    <mat-button-toggle value="todo">{{ 'status.todo' | translate }}</mat-button-toggle>
    <mat-button-toggle value="in_progress">{{ 'status.inProgress' | translate }}</mat-button-toggle>
    <mat-button-toggle value="done">{{ 'status.done' | translate }}</mat-button-toggle>
  </mat-button-toggle-group>

  <div class="task-toolbar__actions">
    <button type="button" mat-stroked-button [matMenuTriggerFor]="priorityMenu">
      {{ priorityLabel() }}
      <mat-icon aria-hidden="true">arrow_drop_down</mat-icon>
    </button>
    <mat-menu #priorityMenu="matMenu">
      <button type="button" mat-menu-item (click)="priorityChange.emit('all')">
        {{ 'priority.all' | translate }}
      </button>
      <button type="button" mat-menu-item (click)="priorityChange.emit('high')">
        {{ 'priority.high' | translate }}
      </button>
      <button type="button" mat-menu-item (click)="priorityChange.emit('medium')">
        {{ 'priority.medium' | translate }}
      </button>
      <button type="button" mat-menu-item (click)="priorityChange.emit('low')">
        {{ 'priority.low' | translate }}
      </button>
    </mat-menu>

    <button type="button" mat-stroked-button [matMenuTriggerFor]="assigneeMenu">
      {{ assigneeLabel() }}
      <mat-icon aria-hidden="true">arrow_drop_down</mat-icon>
    </button>
    <mat-menu #assigneeMenu="matMenu">
      <button type="button" mat-menu-item (click)="assigneeChange.emit('all')">
        {{ 'toolbar.assigneeAll' | translate }}
      </button>
      @for (assignee of assignees(); track assignee.id) {
        <button type="button" mat-menu-item (click)="assigneeChange.emit(assignee.id)">
          {{ assignee.name }}
        </button>
      }
    </mat-menu>

    <button
      type="button"
      mat-flat-button
      class="task-toolbar__new-task"
      (click)="newTaskClick.emit()"
    >
      <mat-icon aria-hidden="true">add</mat-icon>
      {{ 'common.newTask' | translate }}
    </button>
  </div>
</div>
