<div class="shell">
  <a class="shell__skip-link" href="#main-content">{{ 'nav.skipToMainContent' | translate }}</a>

  <app-header
    [currentUserInitials]="currentUser()?.avatar ?? null"
    [showSearch]="isDashboardRoute()"
    (searchChange)="onSearchChange($event)"
    (menuClick)="onMenuToggle()"
  />

  <mat-sidenav-container class="shell__body">
    <mat-sidenav
      class="shell__sidenav"
      [mode]="isHandset() ? 'over' : 'side'"
      [opened]="!isHandset()"
      [fixedInViewport]="isHandset()"
      [fixedTopGap]="isHandset() ? 64 : 0"
    >
      <app-sidebar (newTaskClick)="onNewTask()" (linkClick)="onSidebarLinkClick()" />
    </mat-sidenav>

    <mat-sidenav-content class="shell__content-area">
      <main id="main-content" class="shell__content" tabindex="-1">
        <router-outlet />
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
